<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name ="QuanLyThuPhiCapNuocSach"
			 connectionString ="Server = LAPTOP-DTCTUVQ5\SQLSERVER2022DEV; Database = QuanLyThuPhiCapNuocSach_1; User ID = DMINH; Password = 1; TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>