<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name ="khang" connectionString ="Server = KHANG\SQLEXPRESS02; Database = QuanLyThuPhiCapNuocSach; User ID = khang; Password = 123; TrustServerCertificate=True"/>
		<add name ="minh" connectionString ="Server = KHANG\SQLEXPRESS02; Database = QuanLyThuPhiCapNuocSach; User ID = khang; Password = 123; TrustServerCertificate=True"/>
		<add name ="truong" connectionString ="Server = KHANG\SQLEXPRESS02; Database = QuanLyThuPhiCapNuocSach; User ID = khang; Password = 123; TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>